@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Noto+Serif:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
a, a:hover{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: 'Comfortaa', cursive;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    padding: 15px 0;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    color: white;
    font-size: 14px;
    line-height: 21px;
    z-index: 2;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.menu_link{
    margin: 0 0 0 10px ;

}
.menu_login_signUp{
    display: flex;
    align-items: center;
    margin: 0 0 0 20px;
}
.menu_logo{

}
.menu_action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 -5px;

}
.menu_search{
    display: flex;
    align-items: center;
    margin: 0 0 0 15px;
    cursor: pointer;

}
.menu_icons{
    margin: 0 0 0 10px;
    cursor: pointer;
}
.login_img{
    margin: 0 10px 0 20px;
    cursor: pointer;
}
.hero{
    height: 600px;
}
.hero_img{
    background: url("../images/hero.png") no-repeat center/cover;
    height: 100%;
    position: relative;
}
.hero_title{
    font-family: 'Noto Serif', serif;
    font-size: 32px;
    font-weight: 600;
    color: white;
    line-height: 71px;
    position: absolute;
    bottom: 170px;
    left: 450px;
}
.hero_subtitle{
    display: inline-block;
    border: 1px solid white;
    color: white;
    padding: 10px 30px;
    position: absolute;
    bottom: 115px;
    left: 514px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    cursor: pointer;
}
.horizontal_line{
    border: 0.5px solid white;
    position: absolute;
    width: 100%;
    bottom: 80px;
    opacity: 0.5;

}
.hero_logo_bottom{
    position: absolute;
    bottom: 10px;
    border: 0;

}
.logo_small_hero{
    margin-left: 15px;
}
.logo_small_hero-border{
    border-right: 0.5px solid white;
}
.portfolio-container{
    padding: 40px 0;
}
.portfolio_caption{
    font-size: 21px;
    line-height: 29px;
    text-align: center;
    color: #333333;
    margin-bottom: 15px;
}
.portfolio_subtitle{
    font-family: Noto Serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #333333;
    margin-bottom: 60px;
}
.menu_portfolio{
    margin: 50px 0;
}
.portfolio_link{
    border: 1px solid black;
    padding: 11px 33px;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin: 0 10px 0 15px;
    cursor: pointer;
    position: relative;
    display: inline-block;



}
.portfolio_link:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    right: -5px;
    bottom: -5px;
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;



}
.portfolio_link:hover{
    background-color: #333333;
    color: white;

}
.row{
    display: flex;
   flex-wrap: wrap;

}
.col-4{
    width: 33.33333%;
    padding: 0 15px;
    margin: 10px 0;
    position: relative;

}
.portfolio_img{
    width: 350px;
    height: 280px;
    transition: 0.6s;
    cursor: pointer;


}
.portfolio_desc{
    position: absolute;
    top: 220px;
    right: 112px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}
.portfolio_img:hover{
    opacity: 0.9;
    box-shadow:
            1px 1px #f5e2c2,
            2px 2px #f5e2c2,
            3px 3px #f5e2c2,
            4px 4px #f5e2c2,
            5px 5px #f5e2c2,
            6px 6px #f5e2c2,
            7px 7px #f5e2c2;
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
}
.address{
    background-color: #1c1c1c;
    color: white;
    padding: 50px 0;
}
.address_title{
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    margin-bottom: 15px;
}
.address_subtitle{
    font-family: Noto Serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    margin-bottom: 45px;
}
.address_desc{
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 60px;

}
.address_btn{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-left: 430px;
    text-transform: uppercase;
    padding: 15px 35px;
    border: 1px solid white;
    background-color: white;
    color:black;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 0 40px 40px white inset, 0 0 0 0 white;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.address_btn:hover{
    box-shadow: 0 0 10px 0 white inset, 0 0 10px 4px white;
    border-radius: 2px;
}
.description{
    padding: 60px 0;
}
.description_title{
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: #333333;
    margin-bottom: 15px;
}
.description_subtitle{
    font-family: 'Noto Serif', serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #333333;
    margin-bottom: 50px

}
.desc_img{
    height: 370px;
    width: 350px;
}

.desc_news{
    position: absolute;
    font-size: 21px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    top: 250px;
    right: 70px;
}
.col-4.scale{
    opacity: 0.7;
    transition: 0.4s;
}
.col-4.scale:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: inherit;
}
.description_btn{
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #333333;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    padding: 15px 35px;
    cursor: pointer;
    border-radius: 4px;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 0.4s ease-in-out, color 0.4s ease-in-out;
    margin: 30px 420px;
}
.description_btn:hover{
    box-shadow: 0 0 40px 40px #2c7be1 inset;

}
.social{
    padding: 60px 0;
}
.social_link{
    display: block;
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    color: #333333;
    margin-bottom: 15px;
}
.social_subtitle{
    font-family: Noto Serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #333333;
}
.feedback{
    padding: 70px 0;
    background-color: #1c1c1c;
}
.feedback_title{
    font-weight: normal;
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;

}
.feedback_subtitle {
    font-family: Noto Serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 60px;
}
.col-5{
    width: 41.666666%;
    padding: 0 15px;
}
.col-7{
    width: 58.3333%;
    padding: 0 15px;
}
.feedback_list{
    display: flex;
    align-items: center;

}
.feedback_desc{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;

}
.feedback_check{
    margin: 15px 20px;
}
.feedback_border_outside{
    border: 1px solid #FFFFFF;
    padding: 14px 15px;
    margin: 15px 0;
}
.feedback_input{
    background-color: white;
    padding: 15px 45px 14px 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 0.5);
    border: 1px solid #D6D6D6;
    margin-right: 35px;

}
.feedback_input_box{
    background-color: white;
    display: flex;
    align-items: center;
    padding: 15px 87px 14px 20px;

}
.feedback_box_desc{
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #333333;
    padding: 16px 56px;
    cursor: pointer;

}
.footer{
    padding: 70px 0;
}
.col-3{
    width: 25%;
    padding: 0 15px;
}
.footer_title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 40px;
}
.footer_link{
    font-size: 14px;
    line-height: 25px;
    color: #333333;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
 }
.footer_pay_desc {
    font-size: 14px;
    line-height: 23px;
    color: #333333;
    margin-bottom: 30px;
}
.footer_contact{
    display: flex;
    align-items: center;
}

.pay_mastercard{
    margin-left: 10px;
}

.footer_tel{
    margin: 10px 10px;
}
.footer_email{
    margin: 8px 10px;
}


.social_item{
    margin-right: 22px;

}
.footer_social_desc{
    font-size: 14px;
    line-height: 23px;
    color: #333333;
    margin-bottom: 30px;
}
.footer_email_img{
    margin-left: 2px;
}
.horizontal_line-footer{
    margin: 50px 0 20px;

}
.footer_bottom_menu{
    display: flex;
   justify-content: space-between;
}
.footer_bottom_link{
    font-size: 14px;
    line-height: 24px;
    color: #333333;
}
.footer_bottom_link-figma{
    font-family: 'Noto Serif', serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    text-decoration-line: underline;
    color: #333333;

}
.horizontal_line-title{
    margin: -20px 0 20px;
}