@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Noto+Serif:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
a, a:hover{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: 'Comfortaa', cursive;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    padding: 15px 0;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    color: white;
    font-size: 14px;
    line-height: 21px;
    z-index: 2;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.menu_link{
    margin: 0 0 0 10px ;

}
.menu_login_signUp{
    display: flex;
    align-items: center;
    margin: 0 0 0 20px;
}
.menu_logo{

}
.menu_action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 -5px;

}
.menu_search{
    display: flex;
    align-items: center;
    margin: 0 0 0 15px;
    cursor: pointer;

}
.menu_icons{
    margin: 0 0 0 10px;
    cursor: pointer;
}
.login_img{
    margin: 0 10px 0 20px;
    cursor: pointer;
}
.hero{
    height: 600px;
}
.hero_img{
    background: url("../images/hero.png") no-repeat center/cover;
    height: 100%;
    position: relative;
}
.hero_title{
    font-family: 'Noto Serif', serif;
    font-size: 32px;
    font-weight: 600;
    color: white;
    line-height: 71px;
    position: absolute;
    bottom: 170px;
    left: 450px;
}
.hero_subtitle{
    display: inline-block;
    border: 1px solid white;
    color: white;
    padding: 10px 30px;
    position: absolute;
    bottom: 115px;
    left: 514px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    cursor: pointer;
}
.horizontal_line{
    border: 0.5px solid white;
    position: absolute;
    width: 100%;
    bottom: 80px;
    opacity: 0.5;

}
.hero_logo_bottom{
    position: absolute;
    bottom: 10px;
    border: 0;

}
.logo_small_hero{
    margin-left: 15px;
}
.logo_small_hero-border{
    border-right: 0.5px solid white;
}
.portfolio-container{
    padding: 40px 0;
}
.portfolio_caption{
    font-size: 21px;
    line-height: 29px;
    text-align: center;
    color: #333333;
    margin-bottom: 15px;
}
.portfolio_subtitle{
    font-family: Noto Serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #333333;
    margin-bottom: 60px;
}
.portfolio_link{
    border: 1px solid black;
    padding: 11px 25px;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin: 0 10px 0 15px;
    cursor: pointer;

}
.portfolio_link:hover{
    background-color: #333333;
    color: white;
}
.row{
    display: flex;
   flex-wrap: wrap;

}
.col-4{
    width: 33.33333%;
    padding: 0 15px;
}
.portfolio_img{
    width: 100%;
    height: 100%;
}


